{% extends 'layout.html' %}

{% block body %}
<div class="flex place-content-center">
    <form action="#" method="POST" enctype="multipart/form-data">
        <div class="flex-col">
            <input type="file"
                   class="form-control w-full max-w-xs flex-row pb-5"
                   name="image_name" required>
            <button type="submit" class="btn flex-row btn-primary">
                Cargar Imagen
            </button>
        </div>
    </form>
</div>
{% endblock %}