<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Numberplate OCR</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.14.3/dist/full.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="flex flex-col h-screen justify-between">
    <!--Navbar-->
    <div class="navbar bg-neutral text-neutral-content">
        <div class="container">
            <a class="btn btn-ghost normal-case text-xl" href="/">Numberplate OCR</a>
        </div>
    </div>


    {% block body %}

    {% endblock %}

    <!--Footer-->
    <footer class="footer footer-center p-4 bg-neutral text-neutral-content ">
        <div>
            <p>Copyright © 2022 - All right reserved by lcpime</p>
        </div>
    </footer>
</div>
</body>
</html>
